@font-face {
  font-family: 'Elza';
  font-weight: 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Black';
  src: url('/fonts/Elza-NarrowBlack.woff2') format('woff2');
}

@font-face {
  font-family: 'Elza';
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url('/fonts/Elza-NarrowBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Elza';
  font-weight: 500;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Medium';
  src: url('/fonts/Elza-NarrowMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Elza';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Elza-Regular.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}
